* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
    background-image: url("../images/backcover.svg");
    background-repeat: no-repeat;
    background-position:  right bottom;
    height: 100vh;
}


.main-div {
    max-width: 80rem;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 17vh;
    align-items: center;
}
nav img {
    width: 120px;
}
.nav-items {
    display: flex;
    gap: 30px;
    color: #3e4794;
}
nav .signin-btn {
    border: none;
    background: linear-gradient(to right, #965cf2, #ff8adc);
    padding: 4px 12px;
    cursor: pointer;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
}

.intro-section {
    display: flex;
}
.intro-section .left-section {
    max-width: 400px;
    margin-top: 100px;
}
.intro-section h1 {
    color: #3e4794;
    font-size: 4rem;
    margin-bottom: 40px;
}
.intro-section h4 {
    color: #6c6c6c;
    font-weight: normal;
    max-width: 300px;
    margin-bottom: 50px;
    line-height: 25px;
}
.intro-section .learn-more-btn {
    border: none;
    background: linear-gradient(to right, #965cf2, #ff8adc);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
}
.intro-section .imgs-div {
    position: relative;
}
.intro-section .imgs-div img:nth-child(3) {
    width: 650px;
    position: absolute;
    top: -20px;
    left: 220px;
}
.intro-section .imgs-div img:nth-child(2) {
    position: absolute;
    top: 400px;
    left: 270px;
    width: 15px;
}
.intro-section .imgs-div img:nth-child(1) {
    position: absolute;
    top: 400px;
    left: 220px;
    width: 80px;
}

@media only screen and (max-width: 1065px) {
    nav {
        overflow-x: auto;
        padding-left: 20px;
        height: 14vh;
    }
    nav .signin-btn {
        padding: 10px 0px;
        min-width: 100px;
        margin-left: 40px;
        margin-right: 20px;
    }
    .nav-items {
        margin-left: 40px;
    }
    .intro-section .imgs-div img:nth-child(3) {
        display: block;
        position: absolute;
        left: -360px;
        top: 120px;
        width: 400px;
        opacity: .2;
        z-index: -1;
    }
    .intro-section .imgs-div img:nth-child(2) {
        display: none;
    }
    .intro-section .imgs-div img:nth-child(1) {
        display: none;
    }
    .left-section h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .intro-section {
        justify-content: center;
    }
    .intro-section .learn-more-btn {
        padding: 10px 20px;
        font-size: 15px;
    }
    .intro-section h4 {
        margin-bottom: 30px;
        line-height: 25px;
        color: #272727;
    }
} 
